<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/feed">
      <span class="logo-icon">◎</span>
      <span>CircleSphere</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <form action="/user/search" method="GET" class="d-flex" id="search-form">
            <input class="form-control me-2" type="search" name="q" placeholder="Search..." style="min-width: 200px;">
            <button class="btn btn-outline-primary" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed">
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/dashboard">
            <i class="bi bi-speedometer2"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post/create">
            <i class="bi bi-plus-circle"></i> Create Post
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/<%= currentUser.username %>">
            <i class="bi bi-person-circle"></i> Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">
            <i class="bi bi-box-arrow-right"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
